/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.teal-text.text-lighten-2 {
  color: white !important;
  /*font-family: 'Reenie Beanie', cursive;*/

font-family: 'Six Caps', sans-serif;
text-shadow: 5px 7px 2px black;


  font-size: 184px;
  
  margin-bottom: 2px;
   letter-spacing: 10px;

}




a#logo-container.brand-logo{
   font-family: 'IM Fell DW Pica', serif;
   color:white;
}

h5.header.col.s12.light{
  font-family: 'IM Fell DW Pica', serif;
    letter-spacing: 2px;
     font-size: 30px;
text-shadow: 2px 2px 0px black;
}

footer.page-footer.teal{

  background-color: #21201c !important;
}

i.material-icons{
    color: #845f37;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.78);
}

p.grey-text.text-lighten-4{
  text-align: justify !important;
    font-family: 'IM Fell DW Pica', serif;
      color: #A97 !important;
       font-size: 22px;

}



a.white-text {
     color: #A97 !important;
}

h5.center{
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  color: white;

}

p.light{
    font-family: 'IM Fell DW Pica', serif;
    font-size: 22px;
    color: #A97 !important;
    text-align: center;
}

body {
  position: relative;
  background: #21201c; /* For browsers that do not support gradients */
}

div.fixed-action-btn.toolbar{
    position: absolute;
    right: 0%;
    top: 0%;
    margin-right: 9em;
    margin-top: 0.3em;
}


@media all and (max-width: 992px) {
    div.fixed-action-btn.toolbar { display: none; }
}

nav.white{
  background-color: #1f1e1d !important;
}



.red{
  background-color:  rgb(132, 132, 12) !important;
}

.btn-floating.btn-large i {
    color: white;
}

#background1 {
  height: auto;
  width: 100px;
}

#background2 {
  height: auto;
  width: 100px;
}

#background3 {
  height: auto;
  width: 100px;
}

#markCardPic{
  height: 100px;
  width: auto;
  filter: sepia(50%);
  border-style: 2px black solid;
}

/*COURSE PAGE*/

.lifeorphoto{
  width: 400px;
  height: 100px;
  line-height: 100px;
  background-color: #84840c;
  font-size: 32px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.78);
      text-align: center;
      margin: 10px 10px;
font-family: 'Lato', sans-serif;

      letter-spacing: 2px;

       
        
}

.lifeorphoto .material-icons {
  color: white;
  font-size: 3.6rem;
}

#firstQuestion{
      margin: 67px 20px;
}

h2{

  font-family: 'IM Fell DW Pica', serif;
      letter-spacing: 2px;
         color: rgb(132, 107, 12);

}

#introduction{
  font-size: 22px;
  text-align: center !important;
}


.next .material-icons{
  color: white;
}
.next {
width: 200px;
  height: 50px;
  line-height: 50px;
  background-color: #84840c;
  font-size: 27px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.78);
      text-align: center;
      margin: 10px 10px;
font-family: 'Lato', sans-serif;
font-weight: 2px;
      letter-spacing: 2px;

}




/*FIRST PAGE*/


#set-up-studio {
    background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2013/01/24/12/v2-cute-cat-picture.jpg);
}